* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: rgb(255, 255, 255);
}


html {
    font-size: 50%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* background-color: rgb(216, 50, 50); */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    font-family: 'Spectral', serif;
    color: #3C3C3C;
    position:relative;
    text-align: center;
    font-size: 1.6rem;
    bottom:10;
    width:100%;
    margin-top: 7rem;
    height:0px;
}

h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 550;
    color: #3C3C3C;
    font-size: 2rem;
    margin-left: 2rem;
}

p {
    font-family: 'Spectral', serif;
    margin: 2rem;
    color: #3C3C3C;
    font-size: 1.6rem;
    line-height: 2rem;
    /* letter-spacing: .02rem; */
}

body {
    background-color: rgb(255, 255, 255);
}

.cool-line {
    border-top: 2px solid rgb(60, 60, 60, 0.3);
    border-width: 1px;
    flex-shrink: 0 0 0%;
    margin:0;
	padding:0;
}


.content {
    margin-left: 320px;
  }

.content-mobile {
    display: none;
}


/* .content-mobile li {
    display:block;
    position-left: -10rem;
} */


.wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1025px;
    /* background-color: rgb(144, 161, 147); */
    color:rgb(0, 0, 0);
}
.wrapper2 {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1025px;
    color:rgb(0, 0, 0);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    /* font-size: 1rem; */
    padding: 0rem;
    margin-left: 2rem;
    display:inline-table;
}

.nav-item2 {
    display: none;
}

.nav-link{
    font-size: 2rem;
    color: #3C3C3C;
}

.nav-link:hover{
    color: #945D60; /* This controls all hover colours*/
}

.nav-link2{
    font-size: 1.8rem;
    color:#3C3C3C;
    /* margin-left: rem; */
}

.nav-item a.active {
    font-size: 2rem;
    font-weight: 400;
    /* color: #54738E; */
    color: #945D60; /* This controls the active colour -- which site you are selected on */
}

/* .nav-item:hover{
    color: #5d946d;
} */

.nav-item2 a.active {
    font-size: 2rem;
    font-weight: 400;
    /* color: #12e90a; */
}

/* .nav-item2:hover{
    color: #945D60;
} */

.nav-logo {
    font-size: 3rem;
    text-transform: uppercase;
    /* text-transform: uppercase; */
    /* letter-spacing: 3px; */
    /* margin-top: .7rem; */
    color: #51777c; /* This controls the logo colour */
}



/* The side navigation menu */
.sidebar {
    margin: 0;
    padding-top: 1rem;
    width: 320px;
    background-color:rgb(255, 255, 255);
    position: absolute;
    height: 75%;
    overflow: auto;
  }
  
 /* Sidebar links */
  .sidebar a {
    display: block;
    font-family: 'Spectral', serif;
    font-size: 1.6rem;
    line-height: 1rem;
    margin-left: 2rem;
    margin-right: 0rem;
    text-align: left;
    padding: .40rem;
    letter-spacing: 0px;          
   } 
  

   /* .sidebar a {
    display: block;
    justify-content:left;
    align-items: center;
} */

  /*Links on mouse-over */
  .sidebar a:hover:not(.active) {
    font-family: 'Spectral', serif;
    font-size: 1.6rem;
    line-height: 1rem;
    padding: .40rem;
    letter-spacing: 0px;             
   }
  

  /* .sidebar a:hover:not(.active) {
    font-size: 1.8rem;
    font-weight: 400;
    color: #945D60;
} */

   a:visited {
    color: #3C3C3C;
    background-color: transparent;
    text-decoration: none;
  }

.responsive-image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.responsive-image2 {
    display: none;
}

.start {
    padding-top: 2rem;
}
  
@media only screen and (max-width: 1025px) {
    .wrapper {
        position: relative;
        flex-wrap: wrap;
        margin: 0 auto;
        width:100%;
    }
    .wrapper2 {
        flex-wrap: wrap;
        margin: 0 auto;
        width:100%;
    }

    .content-mobile {
        display:block;
        font-family: 'Spectral', serif;
        color: #3C3C3C;
        font-size: 1.6rem;
        /* line-height: 2rem; */
    }
    
    .content-mobile:hover{
        color: #945D60; /* This controls all hover colours*/
    }

    .nav-logo {
        font-size: 2rem;
        font-weight: 500;
        /* letter-spacing: 1px; */
        margin-top: 3px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: fixed;
        left: -100%;
        top: 5.9rem;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        border-radius: 0px;
        text-align: left;
        transition: 0.2s;
        /*box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);*/
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: .5rem 0;
    }
    
    .nav-item2 {
        font-size: 1.8rem;
        margin-left: 2rem;
        display:inline-table;
        margin: .5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .sidebar {
        display: none;
    }

    div.content {
        margin-left: 0px;
    }

    .responsive-image2 {
        display: block;
        padding-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        width: 20rem; */
        /* height: 6rem;
        min-width: 6rem;
    }

    /* .icon-text {
        display: none;
    } */

}

@media only screen and (max-width: 400px) {
    .responsive-image2 {
        width: 10rem;
    }